@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700");
@import url("https://fonts.googleapis.com/css2?family=Prata:wght@400;700");
@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-neutral-1000;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    display: none;
}