@import url("https://fonts.googleapis.com/css2?family=Baumans");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-neutral-300;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    display: none;
}